.popup__input-error {
  display: block;
  margin: 0;
  color: rgb(255, 0, 0);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Inter',Arial,sans-serif;
}

