@font-face { 
  src: url('./Inter-Regular.woff2') format('woff2'), 
       url('./Inter-Regular.woff') format('woff'); 
  font-family: 'Inter'; 
  font-weight: 400; 
} 

@font-face { 
  src: url('./Inter-Medium.woff2') format('woff2'), 
       url('./Inter-Medium.woff') format('woff'); 
  font-family: 'Inter'; 
  font-weight: 500; 
} 

@font-face { 
  src: url('./Inter-Bold.woff2') format('woff2'), 
       url('./Inter-Bold.woff') format('woff'); 
  font-family: 'Inter'; 
  font-weight: 900; 
} 