.place__btn-del{
    display: none;
    cursor: pointer;
    /* display: ; */
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/place/del-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0,0);
    border: none;
    transition: opacity .3s;
}

.place__btn-del:hover{
    opacity: 0.6;
}