.footer__desc{
    margin: 0;
    padding: 0;
    font-family: 'Inter',Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:768px) {
    .footer__desc{
        padding: 0 19px 0 19px;
    }
}
@media screen and (max-width:444px) {
    .footer__desc{
        padding: 0 19px 0 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}