.auth__form-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    color:black;
    background-color:white;
    border-radius: 2px;
    height: 50px;
    font-family: "Inter";
    transition: opacity .3s; 
}
.auth__form-btn:hover{
    opacity: 0.6;

}