.popup__title_use_submit-popup{
    max-width: 330px;
    margin: 0;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 0px 0;
    color: #000000;
}